main {
  display: flex;
  align-items: center;
  justify-content: center;
	font-family:Montserrat, Roboto, Arial, sans-serif;
}
.container {
  width: 70%;
  max-width: 500px;
  height: 500px;
  background-color: rgb(37, 37, 37);
  display: flex;
  border-radius: 25px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family:Montserrat, Roboto, Arial, sans-serif;
}

.password-conatiner {
  width: 70%;
  margin-bottom: 20px;
}

.signin {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 60px;
  color: rgb(255, 255, 255);
}
input {
  width: 100%;
  border-radius: 20px;
  height: 40px;
}

.password-conatiner input {
  font-size: 20px;
  padding-top: 2;
  padding-left: 5%;
  margin-bottom: 20px;
}

.password-conatiner input:focus {
  outline: none;
}

.password-conatiner div {
  margin-bottom: 10px;
}
.thebutton {
  font-weight: bold;
  width: 30%;
  border: 0;
  cursor: pointer;
  transition: color 0.15 background-color 0.15s;
  height: 45px;
  font-size: 18px;
  background-color: brown;
  color: white;
}

.thebutton:hover {
  background-color: rgb(148, 38, 38);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.thebutton:active {
  background-color: rgb(158, 157, 157);
  color: white;
}
