main {
  display: flex;
  align-items: center;
}
.container {
  width: 80%;
  max-width: 900px;
  height: 700px;
  background-color: rgb(37, 37, 37);
  display: flex;
  border-radius: 25px;
  margin-top: -20px;
  justify-content: center;
  flex-direction: column;
  font-family: Montserrat, Roboto, Arial, sans-serif;
  margin-bottom: -140px;
}

.inner-conatiner {
  width: 70%;
	
  margin-left: 50px;
}

.subtitle {
  font-size: 25px;
  font-weight: bold;
	
}

#name {
  margin-top: 20px;
}

input {
  width: 80%;
  border-radius: 20px;
  height: 40px;
  color: rgb(63, 63, 63);
	font-family: Montserrat, Roboto, Arial, sans-serif;
}

.inner-conatiner input {
  font-size: 20px;
  padding-top: 2;
  padding-left: 5%;
  margin-bottom: 20px;
}

.inner-conatiner input:focus {
  outline: none;
}

.inner-conatiner div {
  margin-bottom: 10px;
}

textarea {
  border-radius: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding: 3%;
  line-height: 1.5;
  font-size: 18px;
  font-family: Montserrat, Roboto, Arial, sans-serif;
  color: rgb(52, 52, 52);
}

textarea:focus {
  outline: none;
}

.thebutton {
  font-weight: bold;
  width: 20%;
  border: 0;
  cursor: pointer;
  transition: color 0.15 background-color 0.15s;
  height: 45px;
  font-size: 18px;
  background-color: brown;
  color: white;
  margin-left: 50px;
	
}

.thebutton:hover {
  background-color: rgb(148, 38, 38);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.thebutton:active {
  background-color: rgb(158, 157, 157);
  color: white;
}
